<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 shadow-lg" style="width: 70vw;">
      <div class="card-body text-center">
        <h4 class="card-title mb-4">Bienvenue sur notre application !</h4>
        <p class="lead mb-4">Découvrez nos résidences, consultez les détails et trouvez la maison de vos rêves.</p>
        <div class="d-flex justify-content-around">
          <a href="/residences" class="btn btn-primary">Voir les Résidences</a>
          <a href="/apartments" class="btn btn-secondary">Voir les Appartements</a>
        </div>
      </div>
    </div>
  </div>
  